<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  {{title}}
  <menu></menu>
</mat-toolbar>
<div class="bg">
  <iframe class="video-bg" src="https://www.youtube.com/embed/3H84MQ_Mxhw?&loop=1&autoplay=1&playlist=3H84MQ_Mxhw" frameborder="0" allowfullscreen></iframe>
  <img class="img-bg" src="https://i.imgur.com/Y2uNqAT.jpg"/>
</div>
<div class="fb" text-align="right">
  <iframe
    src="https://www.facebook.com/plugins/page.php?locale=en_US&href=https%3A%2F%2Fwww.facebook.com%2FGaharuGading%2F&tabs=timeline&width=400&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
    width="400" height="600"
    style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>